<ng-container *ngIf="categories$ | async as categories">
  <nav fxLayout="row">
    <div fxLayout="column" class="menu" *ngFor="let category of categories">
      <a href="#">{{ category.categoryName }}</a>
      <div class="submenu">
        <div class="submenu-items" fxLayout="row wrap">
          <ng-container *ngFor="let subcategory of category.subCategories">
            <a href="#" fxFlex="20%">{{ subcategory.nameSubCategory }}</a>
          </ng-container>
        </div>
      </div>
    </div>
  </nav>
</ng-container>
